*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
    line-height: 20px;
}
body{
    background-color: black;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px);
    border-bottom: solid 1px hsla(8,0%,100%,.08);
    width:100%; 
    height:40px;
    color:white;
    font-size:15px;
}
header h1{
    color:white;
    display:flex;
    align-items: center;
    font-size:15px;
    
}
.first-background-image{
    background-image: url(BH.JPEG);
    height:750px;
    background-image:
    linear-gradient(180deg, rgba(0,0,0,.48),#000),url('BH.JPEG');
    width: 100%;
    height: 800px;
    background-size: cover;
    color: white;
}
.wrap-main-element  {
    display: flex;
    justify-content: center;
    margin-top:2%;
    height:110%;
    width:100%;  
}
.main-content-both-sides{
    margin:0px auto;
    height:80%;
    backdrop-filter: blur(40px);
    border:solid 1px hsla(8,0%,100%,.08);;
    border-radius:40px;
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left-side,.right-side{
   height: 100%;
    width:50%;
   padding:10px;
   
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-side p{
    padding:10px 0px 0px 10px;
    font-size:14px;
}
.home---main-fotography{
    z-index: 1111;
    background-image:url(me.JPEG);
    background-position: center center;
    background-size: 100% 100%;
    margin-top:15px;
    border-radius:25px;
    height:100%;
    width:85%;
}

#home---paragraph-name{
    font-size:14px;
    color:darkgray;
    margin-bottom:10px;
}
.left-side{
    padding-left:40px;
}
.left-side h1{
    font-size:23px;
    color:white;
}
.skills---text-pattern2{
    color:gray;
    font-size:16px;
    font-weight: 300;
    text-align: justify;
    margin-right:30px;
    padding-top:10px;
    padding-right: 15px;
    margin-bottom:40px;

}
.about-me-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:auto;
    color:gray;
}
.about-me-container h1{
    color:gray;
    padding:5px;
    font-size:20px;
    margin-top:40px;
}
.before::before{
    height:1px;
    position:absolute;
    content:"";
    width: 30%;
    border-bottom: solid 1px hsla(0,0%,100%,.08);
    top:28.65%; 
        
}
.skills---element{
    height:50px;
    border: solid 0.5px hsla(0,0%,100%,.08);
    max-width:95%;
    display: flex;
    border-radius:14px;
    backdrop-filter: blur(20px);
    margin:7px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: hsla(0,0%,100%,.04);
    display: flex;
    flex-direction: row;
}
.skills-main{
    margin-top:20px;
    width:90%;
}
.skills---element img{
   width:40px;
   padding: 1px;
}
.button-show-more{
    padding:4px 12px;
    border-radius:20px;
    margin-left:20px;
    margin-top:5px;
    font-size: 12px;
    background-color: hsla(0,0%,100%,.08);
    border: 1px solid hsla(0,0%,100%,.08);
    color: hsla(0,0%,100%,.56);
    line-height: 100%;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,  sans-serif;
}
.button-show-more:hover{
    background-color: hsla(0,0%,100%,.2);
    border: 1px solid hsla(0,0%,100%,.2);
    color:hsla(0,0%,100%,1.2);
    transition: all 0.2s
}
#skills---header{
    padding:0px;
    margin-top:6px;
}
.home--skills-icon-wrapper{
    padding:5px 5px 0px 10px;
}
.skills---text-pattern p{
    font-size:10px;
}
.skills---text-pattern h1{
    font-size: 13px;
    color:whitesmoke;
}
.skills---text-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left:3px;
}
#skills---text-pattern{
    color:gray;
    font-size:16px;
    font-weight: 300;
    text-align: justify;
    margin-right:30px;
    padding-top:10px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.skills---text-wrapper-in-wrapper{
    display: flex;
   justify-content: flex-start;
    flex-direction: row;
    align-items: center;
   text-align: left;
    font-weight: 600;
}
.skills---text-wrapper-in-wrapper > .skills-text-paragraph-wrapper{
    padding:0px 2px 5px 5px;
    display: flex;
    justify-content: flex-start; 
    padding-bottom:20px;
    margin-left:3px;
}
.skills-text-paragraph-wrapper2{
    display: flex;
    justify-content: flex-start; 
    align-items: center;        
    padding-bottom:20px;
}

.home---section-find-me-in-social-media{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.home---socialmedia-container{
    display: flex;
    flex-wrap: wrap;
    margin-top:0.5rem;
}
.home---header-for-socialmedia{
    margin-top:1rem;
}
.home---socialmedia-container img{
    max-width: 12px;
    position: relative;
    padding-top:3px;
    margin-right:5px;
}
.home---link-wrapper{
    position: relative;
    margin-right:8px;
    margin-bottom:8px;
    border:1px solid rgba(82,132,255,.12);
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 /24%);
    color:hsla(0,0%,100%,.56);
    font-size:12px;
    line-height: 100%;
    text-decoration: none;
    border-radius:15px;
    padding:3px 10px 4px 8px;
}
.home--youtube{
    border-color: rgba(82,132,255,.12);
    background-color: rgba(255,3,2,.12);
}
.home--email{
    border: 1px solid rgba(50,215,75,.12);
    background-color: rgba(50,215,75,.12);
}
.home--github{
    border-color: rgba(64,120,192,.16);
    background-color: rgba(64,120,192,.12);
}
.home--instagram{
    border-color: rgba(247,119,55,.12);
    background-color: rgba(247,119,55,.08);
}
.home--facebook{
    border-color: rgba(10,132,255,.12);
    background-color: rgba(10,132,255,.12);
}

.home--youtube:hover{
    border-color: rgba(245, 44, 44, .5);
    background-color: rgba(255,3,2,.3);
    color:hsla(0,0%,100%,.85);
}
.home--youtube:hover img{
    scale:1.1;
    transition: all 0.05s ease;
}
.home--email:hover{
    border: 1px solid rgba(50,215,75,.6);
    background-color: rgba(50,215,75,.3);
    color:hsla(0,0%,100%,.85);
}
.home--email:hover img{
    scale:1.1;
    transition: all 0.05s ease;
}
.home--github:hover{
    border-color: rgba(64,120,192,.7);
    background-color: rgba(64,120,192,.3);
    color:hsla(0,0%,100%,.85);
}
.home--github:hover img{
    scale:1.1;
    transition: all 0.05s ease;
}
.home--instagram:hover{
    border-color: rgba(247,119,55,2);
    background-color: rgba(247,119,55,.3);
    color:hsla(0,0%,100%,.85);
}
.home--instagram:hover img{
    scale:1.1;
    transition: all 0.05s ease;
}
.home--facebook:hover{
    border-color: rgb(6, 111, 222);
    background-color: rgba(10,132,255,.3);
    color:hsla(0,0%,100%,.85);
    
}
.home--facebook:hover img{
    scale:1.1;
    transition: all 0.05s ease;
    
}
.home---link-text{
    position:relative;
    top:0;
    display: inline-block;
}

.home---nav-wrapper{
    display: flex;
    justify-content: center;
    z-index:11333;
}
.home---nav-website{
    position:fixed;
    border: 1px solid hsla(0,0%,100%,.15);
    height: auto;
    width:auto;
    border-radius:50px;
    bottom:20px;
    z-index: 1111111;
    padding:3px 30px;
}   
.nav--icons img{
    max-width: 70px;
}
.nav--icons img:hover{
    scale:1.2;
}